<%= form_for([@project, @project.tasks.build], html: {class: 'form-horizontal new_task'}) do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title" %><br />
    <%= f.text_field :title, class: 'form-control'  %>

    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control'  %>
    <br>
    <%= f.label :deadline %>
    <%= f.date_select :deadline, class: 'form-control'  %>

    <%= f.hidden_field :user_id, value: @project.user_id %>

    <p><%= f.submit "Add Task", class: 'btn btn-success pull-right add_task', disabled: true %></p>
  </div>
<%end%>