<div class="panel panel-primary" id="task_<%= task.id %>">
  <div class="panel-heading"><%= task.title %></div>

  <div class="panel-body">
    <strong>Task Desription:</strong>
    <br>
    <p><%= task.description %></p>
    <label for="deadline">Deadline:</label>
    <p><%= task.deadline.strftime('%d %B, %Y') %></p>
  </div>
  <div class="panel-footer">
    <%= link_to "Edit",  edit_project_task_path(task, project_id: task.project_id), class: "btn btn-success edit_task" ,id: "task_#{task.id}", remote: true %>
    <%= link_to "Delete",  project_task_path(task, project_id: task.project_id), method: :delete, data: {confirm: "Are you sure", commit: "Yes"}, class: "btn btn-danger" %>
  </div>
</div>